/*nav starts*/
.nav {
  background-color: #007bff;
  width: 100%;
  height: 100px; }
  .nav ul {
    padding: 10px;
    display: flex; }
  .nav ul li {
    justify-content: space-evenly; }

/*nav ends*/
/*pageHead starts*/
.page-head {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px; }
  .page-head p {
    font-weight: bold;
    font-size: 30px;
    color: #fff; }

/*pageHead ends*/
/*calculators starts*/
#calculators .page {
  margin: 20px auto;
  width: 1000px;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #eeeded; }

#calculators .write-up {
  padding: 40px;
  border-right: 1px solid black; }

#calculators .calculator {
  padding: 40px; }

/*calculators ends*/
