html {
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: black; }

.clear {
  clear: both; }

.content p {
  font-size: 20px;
  color: black;
  text-transform: none;
  margin: 40px 40px;
  opacity: 1;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif; }

.page {
  min-height: 60vh; }

/*nav starts*/
.nav {
  width: 100%;
  min-height: 60px;
  height: auto;
  position: relative;
  z-index: 100; }
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    background-color: #2db2d3;
    width: 100%;
    z-index: 10;
    min-height: 60px;
    height: auto; }
  .nav li {
    min-height: 60px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif; }
  .nav .sub-nav.active {
    bottom: -60px;
    opacity: 1;
    font-family: 'Open Sans', sans-serif; }
  .nav .sub-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 40px;
    z-index: -1;
    background-color: #fff;
    left: 0;
    opacity: 0;
    transition: bottom 0.2s;
    font-family: 'Open Sans', sans-serif; }

/*nav ends*/
/*pageHead starts*/
.page-head {
  width: 100%;
  height: 250px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  -moz-box-shadow: inset 0px 0px 200px #000000;
  -webkit-box-shadow: inset 0px 0px 200px #000000;
  box-shadow: inset 0px 0px 200px #000000; }
  .page-head p {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 3px 6px #000000; }

/*pageHead ends*/
/*hb starts*/
.landing {
  width: 100vw;
  height: calc(100vh - 80px); }
  .landing .hb-img {
    display: flex;
    justify-content: center;
    background-image: url("../imgs/hb.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -moz-box-shadow: inset 0px 0px 200px #000000;
    -webkit-box-shadow: inset 0px 0px 200px #000000;
    box-shadow: inset 0px 0px 200px #000000;
    height: 100%;
    width: 100%; }
  .landing img {
    width: 100vw;
    height: calc(100vh - 80px); }
  .landing .social {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    font-size: 30px; }
  .landing .arrow-down {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    display: flex;
    justify-content: center;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 50px;
    left: 50%;
    margin: 0 0 0 -18px;
    font-size: 36px;
    z-index: 3;
    color: #fff;
    outline: none;
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 0px 3px 6px #000000; }

/*hb ends*/
/*sec-2 starts*/
#sec-2 {
  width: 100vw;
  background-color: white;
  display: block;
  position: relative; }

h4 {
  font-size: 35px;
  color: white;
  font-family: 'Open Sans', sans-serif; }

.about-ks {
  position: relative;
  color: black; }

.about {
  padding: 130px;
  justify-content: center;
  font-size: 50px;
  display: flex;
  color: black;
  background-color: #2db2d3; }

/*sec-2 ends*/
/*fade in img starts*/
/*fade in header starts*/
.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s; }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*fade in img ends*/
/*about-content starts*/
.row {
  display: flex;
  justify-content: space-between; }

.aboutcontent {
  width: 50%; }

.aboutcontent p {
  display: inline-block;
  font-family: 'Montserrat';
  font-size: 20px;
  color: black;
  text-transform: none;
  margin: 70px 50px;
  opacity: 1;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  padding: 50px 5px;
  line-height: 40px;
  font-family: 'Open Sans', sans-serif; }

#about-img {
  height: 400px;
  width: 600px;
  margin: -70px;
  -moz-box-shadow: 2px 2px 6px rgba(55, 55, 55, 0.2);
  -webkit-box-shadow: 2px 2px 6px rgba(55, 55, 55, 0.2);
  box-shadow: 2px 2px 6px rgba(55, 55, 55, 0.2); }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*about-content ends*/
/*services starts*/
#services {
  /*services starts*/
  /*cservices ends*/ }
  #services .page {
    margin: 20px auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: #f7f7f7; }
  #services .services-slider-container {
    background-color: rgba(238, 237, 237, 0.473);
    width: 100vw;
    height: 400px; }

/*services ends*/
/*calculators starts*/
#calculators .page {
  margin: 20px auto;
  width: auto;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #f7f7f7; }

#calculators .write-up {
  padding: 40px;
  border-right: 1px solid black; }

#calculators .calculator {
  padding: 40px; }

/*calculators ends*/
/*footer starts*/
footer {
  width: 100%;
  height: 340px;
  background-color: #000;
  position: relative; }

/*footer ends*/
