html {
  scroll-behavior: smooth;
  font-family: "Cabin", sans-serif;
}

a {
  text-decoration: none;
}
.clear {
  clear: both;
}

.main-container {
  padding-top: 60px;
}
.content h1,
.content h4 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  text-transform: none;
  margin: 40px 40px;
  opacity: 1;
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  line-height: 40px;
  font-weight: 700;
}
.content p {
  font-size: 20px;
  color: black;
  text-transform: none;
  margin: 40px 40px;
  opacity: 1;
  animation: fadeIn ease 5s;
  -webkit-animation: fadeIn ease 5s;
  line-height: 40px;
  font-weight: 400;
}
.page {
  min-height: 60vh;
}
.page {
  margin: 20px auto;
  width: auto;
  display: flex;
  justify-content: center;
  height: auto;
  background-color: rgb(247, 247, 247);
}
.row {
  display: flex;
  justify-content: space-between;
}
