/*services starts*/
#services {
  .page {
    margin: 20px auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    height: auto;
    background-color: rgb(247, 247, 247);
  }

  /*services starts*/
  .services-slider-container {
    background-color: rgba(238, 237, 237, 0.473);
    width: 100vw;
    height: 400px;
  }
  /*cservices ends*/
}
/*services ends*/
